### Visualising data 

We are working on helping NGO projects to visualise and to estimate their impact.
One possibility is to visualise airtable data we have online in the form 


<img src="slack_airtable.png" alt="Drawing" style="width: 200px;"/>

which we would like to convert to the map form 

<img src="map.png" alt="Drawing" style="width: 200px;"/>

### Reading datafiles 

We take as an example several data files. 
1. LeWiBo data of lectures made from airtable (open data from google for schools)
2. LeWiBo participants from www.scied.network airtable on a map

In [3]:
from dbfread import DBF
import geopandas as gpd
import pandas as pd
import csv
import matplotlib.pyplot as plt


###########OPEN data FILE###################


#opening and printing data from dbf file 
print('reading schools from airtable of LeWiBo')        


My_file_path_name = 'C:/Users/lyubo/Documents/DATA_networks/lecturers_without_borders/Lectures-Grid.csv'


with open(My_file_path_name) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=';')
    line_count = 0
    for row in csv_reader:
        #G.add_node(row[0])#add edge to the graph #print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
        line_count += 1
        # count in which country the lecture was made
    print(f'Processed {line_count} lines.')

    
#Table = gpd.read_file(My_file_path_name)

print('turning csv file to pandas')
df_lectures=  pd.read_csv(My_file_path_name, header=None, dtype=str)

df_lectures.head()

reading schools from airtable of LeWiBo
Processed 74 lines.
turning csv file to pandas

,0,1,2,3,4,5,6,7,8,9,10,11
0,Date of lecture,Place of lecture,Address of school,Topic of the lecture,People giving lecture,People helping to organise,Status of lecture,Description,Number of students,Language of lecture,Impact,travel category: i)work/ii)personal/iii)on pur...
1,"November, 2017","Kathmandu,Nepal",database of Ear care Nepal,"climate change,maths","Alexis Tantet,Liubov Tupikina","Milan, Naresh, Ear care Nepal, Liubov, Alexis",done,NaN,NaN,English,NaN,NaN
2,"November, 2017","Kathmandu,Nepal",database of Ear care Nepal,climate change,"Alexis Tantet,Liubov Tupikina","Milan, Naresh, Ear care Nepal, Liubov, Alexis",done,NaN,NaN,English,NaN,NaN
3,"November, 2017","Kathmandu,Nepal",database of Ear care Nepal,maths,"Alexis Tantet,Liubov Tupikina","Milan, Naresh, Ear care Nepal, Liubov, Alexis",done,NaN,NaN,"English,Nepali",NaN,NaN
4,"November, 2017","Kathmandu,Nepal",database of Ear care Nepal,maths,"Alexis Tantet,Liubov Tupikina","Milan, Naresh, Ear care Nepal, Liubov, Alexis",done,NaN,NaN,English,NaN,NaN